2.software/第1代/Sln/OpenCVtest/.vs/OpenCVtest/v15/ipch
2.software/第1代/Sln/OpenCVtest/ipch
2.software/第1代/Sln/SolveLib/.vs/SolveLib/v15/ipch
2.software/第1代/Sln/Theory2Mechancial/.vs/Theory2Mechancial/v15/ipch